body{
    background :url(https://zupimages.net/up/21/12/itkh.png) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family : roboto, sans-serif;
    width : 100%;
    margin: 0;
    text-align: center;
    font-size: x-large;
}
.container{
    display : flex ;
    width : 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    justify-content: space-between;
}
.fixed{
  position: -webkit-sticky;
  position: sticky;
  top : 10px;
  right: 0;
  left: 0;
  z-index: 1;
}
#linkbox{
  width : 5%;
  flex-direction: column;
  text-align: center;
  height : 350px;
  background: whitesmoke;
  padding : 10px;
  border : solid 1px teal;
  padding-left: auto;
  padding-right: auto;
  border-radius: 20px 0 0 0;
  box-shadow: 0 0 8px 8px #c9c9c9;
  z-index: 2;
}
.iconmenu1{
  width : 70%;
}
.iconmenu2{
  width : 70%;
}
.iconmenum{
  width : 10%;
}
.iconmenuf{
  width : 4%;
}
.iconmenu:hover{
  width : 70%;
  background: #c5c5c5;
}
:target {
  padding-top: 420px; 
  margin-top: -420px; 
}
.photoCV{
  flex-grow: 1;
  height : 370px;
  max-height: max-content;
  background: whitesmoke;
  margin-left: 10px;
  border : solid 1px teal;
  border-radius: 0 20px 0 0;
  box-shadow: 0 0 8px 8px gray;
}
h1{
  text-align: center;
  text-shadow: 0 0 8px 8px gray;
}
h2{
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.boxh{
  width : 90%;
  margin-top: 20px;
  color: whitesmoke;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 8px 8px gray;
  border : solid 1px whitesmoke;
  opacity : 0.9;
  background: teal;
}
.boxm{
  width : 90%;
  margin-top: 20px;
  color: whitesmoke;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 8px 8px gray;
  border : solid 1px whitesmoke;
  opacity : 0.9;
  background: teal;
  padding-top: 20px;
}
.boxwl{
  width : 48%;
  background : whitesmoke;
  box-shadow: 0 0 8px 8px gray;
  border : solid 1px teal;
  opacity : 0.9;
  padding : 20px 20px 10px 5px;
  margin-right: 10px;
  text-align: center;
  border-radius: 20px 0 0 20px;
}
.boxwr{
  width : 45%;
  background : whitesmoke;
  box-shadow: 0 0 8px 8px gray;
  border : solid 1px teal;
  opacity : 0.9;
  padding : 20px 20px 10px 5px;
  text-align: center;
  border-radius: 0 20px 20px 0;
}
.boxwl1{
  background : whitesmoke;
  width : 30%;
  box-shadow: 0 0 8px 8px gray;
  border : solid 1px teal;
  opacity : 0.9;
  padding : 30px;
  text-align: left;
  border-radius: 20px 0 0 20px;
}
.boxwm2{
  background : whitesmoke;
  box-shadow: 0 0 8px 8px gray;
  width : 30%;
  border : solid 1px teal;
  margin-right: 10px;
  margin-left: 10px;
  opacity : 0.9;
  padding : 30px;
  text-align: center;
}
.boxwr3{
  background : whitesmoke;
  box-shadow: 0 0 8px 8px gray;
  border : solid 1px teal;
  opacity : 0.9;
  width : 30%;
  padding : 30px;
  text-align: center;
  border-radius: 0 20px 20px 0;
}
.intitule{
  width: 80%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}
.intitule2{
  width: 50%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}
.textteal{
  color : teal;
}
.textwhite{
  color: whitesmoke;
}
.textbold{
  font-weight: bolder;
}
.textitalic{
  font-style: italic;
}
ul{ 
	list-style: none;
  text-align: justify;
}
ul li::before {
	content: "↪";
	display: inline-block;  
	width: 1em; 
	margin-left: -1em;
} 
ul li li::before {
	content: "○";  
	display: inline-block;  
	width: 1em; 
	margin-left: 2em;
}
li{
  margin : 10px;
}
li li{
  margin : 5px;
}
li li:last-child{
  margin-bottom: 20px;
}
div#gall{
    width : 90% ;
    display : flex;
    margin-left: auto;
    margin-right: auto;
}
.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }
  .gallery-image img {
    height: 350px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 350px;
    width: 350px;
    overflow : hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition:transform 0.3s ease, opacity 0.3s ease;
  }
  .caption a{
    color : white;
  }
  .transparent-box {
    height: 350px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;  
    transition: background-color 0.3s ease;
  }
  .img-box:hover img { 
    transform: scale(1.1);
  }
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  .img-box:hover {
    cursor: pointer;
  } 
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  .opacity-low {
    opacity : 0.5;
  }
  .boutonmenuprincipal {
    color: teal;
    border: none;
    background: none;
    cursor: pointer;
    }
    .boutonmenuprincipal:hover {
    background-color: #c9c9c9;
    text-align: center;
    }
    .dropdown {
    position: relative;
    display: inline-block;
    }
    .dropdown-child {
    display: none;
    background: rgb(0, 66, 66);
    border-radius: 10px ;
    }
    .dropdown-child a {
    color: whitesmoke;
    text-decoration: none;
    display: block;
    }
    .dropdown-child a:hover {
    background : #c5c5c5;
    }
    .dropdown:hover .dropdown-child {
    display: block;
    position : absolute;
    z-index: 3;
    }
    p{
      width: 90% ;
      text-align: justify;
      margin-left: auto;
      margin-right: auto;
    }
    h3{
      color : teal;
      text-align: center;
    }
    .bgw{
      background : rgba(245, 245, 245, 0.9);
      opacity : 0.9;
      width : 90%;
      margin-top: 20px;
      margin-left : auto;
      margin-right: auto;
      border-radius: 10px;
      padding-top : 10px;
      padding-bottom : 10px;
    }
    a{
      color: teal;
    }
    #contact{
      margin-bottom: 20px;
    }
@media screen AND (max-width : 640px){
  .container{
    flex-direction: column;
  }
  #linkbox{
    flex-direction: row;
    width : 90%;
    height : 30px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px 8px 0 0;
  }
  .iconmenu1{
    width : 10%;
    height : 40px;
  }
  .iconmenu2{
    width : 30px;
    height : 30px;
    padding-bottom: 5px;
  }
  .photoCV{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    height : 100px;
    padding : 10px;
    margin-top : 20px;
    border-radius: 0 0 8px 8px;
  }
  .boxh{
    font-size: 0.7em;
    width : 80%;
    padding : 10px;
    border-radius: 8px;
  }
  .boxwl{
    width : 90%;
    padding : 10px;
    border-radius: 8px 8px 0 0;
    font-size: 0.7em;
    margin-left: auto;
    margin-right: auto;
  }
  .boxwr{
    width : 90%;
    padding : 10px;
    margin-top : 10px;
    border-radius: 0 0 8px 8px;
    font-size: 0.7em;
    margin-left: auto;
    margin-right: auto;
  }
  .boxm{
    width : 80%;
    padding : 10px;
    margin-top : 10px;
    border-radius: 8px;
    font-size: 0.7em;
    margin-left: auto;
    margin-right: auto; 
  }
  .boxwl1{
    width : 90%;
    padding : 10px;
    margin-top : 10px;
    border-radius: 8px 8px 0 0;
    font-size: 0.7em;
    margin-left: auto;
    margin-right: auto;
  }
  .boxwm2{
    width : 90%;
    padding : 10px;
    margin-top : 10px;
    font-size: 0.7em;
    margin-left: auto;
    margin-right: auto;
  }
  .boxwr3{
    width : 90%;
    padding : 10px;
    margin-top : 10px;
    border-radius: 0 0 8px 8px;
    font-size: 0.7em;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery-image{
    justify-content: center;
    font-size: 0.6em;
  }
  .gallery-image img {
    height: 250px;
    width: 250px;
  }
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 250px;
  }
}
