body {
    background :url(https://zupimages.net/up/21/12/itkh.png) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family : roboto, sans-serif;
    width : 100%;
}
h1{
    color : teal;
}
a{
  color: teal;
}
  p{
  color : white;
}
h2{
  color : white;
}
em{
  color : teal;
  font-size: x-large;
}
div#top{
    box-shadow : 4px 8px 4px #DBE3DE ;
    font-size : large ;
    min-width : 250px ;
    flex-grow: 1;
    text-align : justify ;
    border-radius : 20px 20px 20px 20px ;
    padding : 40px ;
    background : linear-gradient( white, #93AC9D) ;
    opacity : 0.9 ;
}
div#masterbox{
    display : flex ;
    width : 95% ;
    min-width : 10%;
    align-content: center;
    flex-basis: content;
    flex-wrap: wrap;
}
div#masterbox1{
  display : flex ;
  width : 95% ;
  min-width : 10%;
}
div#link{
    float : left ;
    width : 5%;
    min-width : 50px;
}
div#bottom{
    background : linear-gradient( teal, #005544) ;
    border : solid 3px #005544 ;
    border-radius : 20px 20px 20px 20px ;
    width : 70% ;
    padding : 40px;
    font-size : x-large ;
    color : #DBE3DE;
    box-shadow : 4px 8px 4px #DBE3DE ;
}
div#box{
    border : solid 3px #005544;
    border-radius : 20px 20px 20px 20px ;
    margin : 10px ;
    color : white ;
    max-width: 52%;
    min-width: 400px;
    font-size : x-large ;
    flex-grow: 1;
    float : left ;
    text-align : justify ;
    padding : 30px;
    background : linear-gradient( teal, #005544) ;
    opacity : 0.9;
    box-shadow : 4px 8px 4px #DBE3DE;
}
div#box2{
    border : solid 3px #005544;
    border-radius : 20px 20px 20px 20px ;
    margin : 10px ;
    max-width: 45%;
    min-width: 400px;
    text-align : justify ;
    font-size : large ;
    padding : 30px;
    float : left ;
    background : white;
    hyphens: auto;
    opacity : 0.9;
    box-shadow : 4px 8px 4px #DBE3DE;
}
div#box3{
  border : solid 3px #005544;
  border-radius : 20px 20px 20px 20px ;
  margin : 10px ;
  max-width: 45%;
  min-width: 400px;
  font-size : xx-large ;
  float : left ;
  text-align: justify;
  padding : 30px;
  background : linear-gradient( white, #93AC9D);
  hyphens: auto;
  opacity : 0.9;
  box-shadow : 4px 8px 4px #DBE3DE;
}
ul{ 
	list-style: none; 
}
ul li::before {
	content: "↪";
  font-size: xx-large;
	display: inline-block;  
	width: 1em; 
	margin-left: -1em;
} 
ul li li::before {
	content: "○";  
	display: inline-block;  
	width: 1em; 
	margin-left: 2em;
}
div#gall{
    width : 80% ;
    display : flex;

}
.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image img {
    height: 350px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 350px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition:transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 350px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;  
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }
}
